.auth__main {
  position: relative;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.auth__background {
  background-color: red;
  width: 100%;
  height: 4.75rem;
  position: absolute;
  bottom: 0;
  background: url('../../assets/images/background.png');
  animation: animate-bg 30s linear infinite;
}

.auth__figure {
  position: absolute;
  top: 12rem;
  right: 0;
  width: 20rem;
}

@keyframes animate-bg {
  from {
    background-position: 20% 10%;
  }
  to {
    background-position: 100% 40%;
  }
}

.auth__options {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}

.auth__box-container {
  width: 25rem;
  text-align: center;
  & form {
    & > * {
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.btnLogin {
  height: 3.375rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 2px black;
  transition: 0.2s;
  &:hover {
    background-color: #ccc;
  }
}

.auth__backButton {
  font-size: 4.375rem;
  transition: 0.2s;
  &:hover {
    color: $primary;
  }
}

.btnRegister {
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid $primary;
}
