::root {
  --mascotaPos: 0px;
  --mascotaSteps: 0;
}

.parent {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  position: absolute;
  transform: scale(1.5);
  height: 100%;
}

.avatar__preview {
  position: relative;
  width: 26.5rem;
  height: 10.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $third;
  clip-path: polygon(
    0% 5%,
    5% 5%,
    5% 0%,
    95% 0%,
    95% 5%,
    100% 5%,
    100% 95%,
    95% 95%,
    95% 100%,
    5% 100%,
    5% 95%,
    0% 95%
  );
  border-radius: 4px;
}

.avatar__background {
  width: 26.2rem;
  position: absolute;
  height: 10.375rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 0.25rem;
  clip-path: polygon(
    0% 5%,
    5% 5%,
    5% 0%,
    95% 0%,
    95% 5%,
    100% 5%,
    100% 95%,
    95% 95%,
    95% 100%,
    5% 100%,
    5% 95%,
    0% 95%
  );
}
