.game__body {
    background-color: $fourth;
    position: absolute;
    top: -1080px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99999;
}

