:root {
  --size: 6.25rem;
  --bord: 0.625rem;
}

.home__section {
  border-radius: 0.5rem;
  background-color: white;
  z-index: 1;
}

.home__mail_profile_photo {
  object-fit: cover;
  position: relative;
  & > img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.home__mail_change_photo {
  position: absolute;
  bottom: 0;
  border: none;
  font-size: 1.75rem;
  background: none;
  transition: 0.3s;
  &:hover {
    transform: rotate(180deg) scale(1.2);
  }
}

.home__coins {
  width: 12.5rem;
  height: 3.125rem;
  background-color: rgb(143, 109, 23);
  color: white;
  border-radius: 0.25rem;
  animation: anim-glow 2s ease infinite;
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 rgba(gold, 1);
  }
  100% {
    box-shadow: 0 0 20px 8px transparent;
    border-width: 0.125rem;
  }
}

.home__experience {
  background-color: $secondary;
  width: 12.5rem;
  height: 3.125rem;
  color: white;
  border-radius: 0.25rem;
}

.home_activity_icon {
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  width: 4.375rem;
  height: 4.375rem;
  &:hover {
    transform: scale(1.15);
  }
}

.home__activity_img {
  position: relative;
  top: 0.313rem;
  left: 0.313rem;
  text-align: center;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  background-color: #ffffff;
}

.home_activity_progress {
  background-color: transparent;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  position: relative;
  text-align: center;
  &.p0 {
    background: linear-gradient(0, #ccc 50%, transparent 50%),
      linear-gradient(-180deg, #ccc 50%, green 50%);
  }
  &.p90 {
    background: linear-gradient(270deg, #ccc 50%, transparent 50%),
      linear-gradient(-180deg, #ccc 50%, green 50%);
  }
  &.p180 {
    background: linear-gradient(270deg, #ccc 50%, transparent 50%),
      linear-gradient(270deg, #ccc 50%, green 50%);
  }
  &.p270 {
    background: linear-gradient(180deg, green 50%, transparent 50%),
      linear-gradient(270deg, #ccc 50%, green 50%);
  }
  &.p360 {
    background: linear-gradient(270deg, green 50%, transparent 50%),
      linear-gradient(270deg, #ccc 50%, green 50%);
  }
}

.home__activity_popper {
  clip-path: polygon(50% 0, 55% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 45% 8%);
  background-color: $secondary;
  width: 300px;
  padding: 20px 20px;
  color: white;
  transition: 0.1s;
}

.gridHome {
  position: relative;
  & > canvas {
    z-index: 0 !important;
  }
}

.home__icon_to {
  filter: grayscale(1) opacity(0.5);
}
