.navbar__main {
    height: 75px;
    z-index: 9999;
    background-color: $third;
}

.navbar__item {
    background-color: #eee;
    transition: 0.2s;
    border-radius: 2px;
    position: relative;
    text-decoration: none;
    color: #333;
    &:hover {
        background-color: $secondary;
        cursor: pointer;
        color: #eee !important;
    }
    &.active {
        color: $secondary;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: $secondary;
        }
    }
}

.navbar__logout {
    position: absolute;
    right: 20px;
    padding:  6px 18px;
    border-radius: 4px;
    background-color: $danger;
    color: $white;
    border: none;
    font-weight: 400;
    transition: 0.25s;
    &:hover {
        opacity: 0.7;
    }
}

.navbar__isotipo {
    position: absolute;
    left: 20px;
    cursor: pointer;
}
