.portal {
    height: 100% !important;
    position: relative;
}

.portal__isotipo {
    font-size: 1.5rem;
    font-family: $text2;
}

.portal > canvas {
    margin-top: 4.375rem;
}

.portal__nav {
    height: 4.375rem !important;
    color: black;
}

.portal__body {
    height: 100% !important;
}

.portal__text {
    font-size: 1.5rem;
}

.portal__box {
    text-align: center;
    align-items: center;
    & > button {
        font-size: 25px;
        background-color: $primary;
        padding: 10px 0px;
        margin-top: 15px;
        width: 50%;
        color: white;
        box-shadow: 3px 4px 1px black;
        &:hover {
            background-color: $secondary;
        }
    }
}

.pages__page {
    background-color: #eee;
    min-height: 100vh;
    background-image: url('../../assets/images/bg-pages.jpg');
    background-position: center;
    background-size: cover;
    & > canvas {
        z-index: 1 !important;
        margin-top: 4.375rem;
    }
}

