.game__suma__body {
  background-color: white;
  width: 80vw;
  height: 60vh;
}

* {
  user-select: none;
}

.game__sections {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.suma__option {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px 40px;
  top: -1080px;
  & > button {
    border: none;
    border-radius: 20px;
    padding: 30px;
    transition: 0.2s;
    & > img {
      width: 5rem;
    }
    &:hover {
      filter: sepia(0.3);
      transform: translateY(-4px);
    }
  }
  & > span {
    font-size: 1.5rem;
  }
}

.suma__button_section {
  margin-top: 3.75rem;
  position: relative;
  & > button {
    padding: 10px 30px;
    font-size: 1.5rem;
    margin: 10px 30px;
    opacity: 1;
    position: relative;
  }
}

.suma__box {
  padding: 20px 40px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 32px;
}

.suma__box_1,
.suma__box_2,
.suma__box_3 {
  background-color: $primary;
  color: white;
  border-radius: 16px;
}

.suma__plus,
.suma__equal {
  font-size: 32px;
}

.suma__cajon_problemas {
  margin-top: 50px;
  margin-bottom: 50px;
}

.suma__outlined {
  background-color: white !important;
  color: $primary;
  border: 3px solid $primary;
}

.suma__top {
  padding: 20px 40px;
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.button button {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 20px 40px;
  border: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &:disabled {
    opacity: 0.5;
  }
}

.button button:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}
