.ranking__btnSection {
  display: flex;
  align-items: center;
  justify-content: center;
  & > button {
    margin: 0px 1.5rem;
    padding: 8px 1.5rem;
    border: none;
    background-color: #ccc;
    border-radius: 4px;
    transition: 0.2s;
    font-size: 1.5rem;
    &:hover {
      transform: scale(1.25);
    }
    &:active {
      background-color: #aaa;
    }
  }
}

.ranking__table {
  width: 70vw;
  & > thead {
    background-color: rgb(11, 11, 29);
    & > tr > th {
      color: #ddd;
      padding: 20px;
      font-size: 1.6rem;
      &:first-child {
        border-top-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
      }
    }
  }
}

.ranking__wrap_user {
  margin-top: 0.625rem;
  padding: 0.375rem 1.125rem;
  text-shadow: 0 0 2px #000;
  font-weight: 600;
  font-size: 1.125rem;
  & > .index {
    font-size: 1.6rem;
  }
  &:nth-child(2n) {
    background-color: #0f131b;
  }
  &:nth-child(2n-1) {
    background-color: #141d2a;
  }
  &:nth-child(1) {
    background: rgb(111, 88, 23);
    background: linear-gradient(
      90deg,
      rgba(111, 88, 23, 1) 0%,
      rgba(18, 29, 40, 1) 100%
    );
    // background-image: url('https://i.pinimg.com/originals/64/51/7e/64517e6f8b933adcc44b0fe008b56711.jpg');
  }
  &:nth-child(2) {
    background: rgb(77, 31, 17);
    background: linear-gradient(
      90deg,
      rgba(77, 31, 17, 1) 0%,
      rgba(18, 29, 40, 1) 100%
    );
    // background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    // url('https://previews.123rf.com/images/scenery1/scenery11712/scenery1171200295/91883609-shiny-silver-foil-abstract-pattern-background-texture.jpg');
  }
  &:nth-child(3) {
    background: rgb(56, 22, 34);
    background: linear-gradient(
      90deg,
      rgba(56, 22, 34, 1) 0%,
      rgba(18, 29, 40, 1) 100%
    );
    // background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    // url('https://us.123rf.com/450wm/dmitr1ch/dmitr1ch1804/dmitr1ch180400018/99525968-patr%C3%B3n-de-cobre-o-bronce-textura-de-metal-no-ferroso.jpg?ver=6');
  }
  &:last-child {
    border-top: 0.75rem solid #eee;
    padding: 0px 0.75rem !important;
    background-color: rgb(95, 93, 93);
  }
}

.ranking__fila {
  padding: 0.25rem 0.75rem;
  color: #eee;
}

.avatar__preview_rank {
  transition: 0.5s !important;
}
