.score__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.score__page_info {
    position: relative;
    top: -1080px;
}

.score__box {
    background-color: #333;
    color: white;
    padding: 30px 120px;
    opacity: 0;
    border-radius: 30px;
    & > .score__box_score {
        font-size: 30px;
    }
}

.score__box_coins {
    margin-bottom: 20px;
    font-size: 30px;
}

.score__box_coins_number {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: goldenrod;
}
