::root {
  --bgPos: 0px;
  --bodyPos: 0px;
  --bodySteps: 0;
  --mascotaPos: 0px;
  --mascotaSteps: 0;
}

.store__body {
  overflow-y: scroll;
  background-color: white;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  max-height: 75vh;
  @media screen and (max-width: 1376px) {
    max-height: 65vh;
  }
}

.store__item_wrap {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.store__item {
  background-color: #aaa;
  width: 19rem;
  height: 12rem;
  cursor: pointer;
  filter: grayscale(0);
  text-align: center;
  clip-path: polygon(
    0 10%,
    0 0,
    100% 0,
    100% 10%,
    100% 10%,
    98% 15%,
    98% 85%,
    100% 90%,
    100% 100%,
    0 100%,
    0 90%,
    2% 85%,
    2% 15%
  );
  &::before {
    color: white;
    background-color: red;
    position: absolute;
    top: 40px;
  }
}

.store__item_selected {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.store__item_screen {
  width: 80%;
  height: 9.125rem;
  background-color: white;
  &:hover {
    background-color: rgb(39, 154, 158);
  }
  &.nodisponible {
    filter: grayscale(1);
    &::before {
      content: 'Saldo insuficiente 🥺😓';
      color: white;
      position: absolute;
      width: 100%;
      z-index: 9999;
      background-color: red;
    }
  }
}

.store__item_bought {
  background-color: $primary;
  filter: grayscale(0) !important;
  &::before {
    color: white;
    background-color: orangered;
    content: 'Obtenido';
    position: absolute;
    top: 40px;
    padding: 4px 12px;
    left: 10px;
    transform: rotate(315deg);
    z-index: 999999 !important;
  }
}

.store__item_coins {
  border: none;
  width: 12.5rem;
  height: 2.5rem;
  background-color: white;
  color: rgb(143, 109, 23);
  border-radius: 4px;
  transition: 0.25s;
  &:hover:enabled {
    cursor: pointer;
    background-color: goldenrod;
    color: white;
  }
  &:disabled {
    background-color: #999;
    color: #ccc;
  }
}

.store__item_comprado {
  background-color: rgb(143, 109, 23);
  color: white;
}

.avatar__header__store {
  animation: play-body 4s steps(var(--bodySteps)) infinite;
}

@keyframes play-body-store {
  100% {
    background-position: (var(--bodyPos));
  }
}

.wrapper_avatar {
  background-color: white;
  padding: 0.125rem 3rem;
  border-radius: 10px;
}

.store__btnSwitch {
  background-color: white;
  color: black;
  padding: 12px 26px;
  border: none;
  &:hover {
    background-color: $third;
  }
}

.store__btnSwitch_active {
  background-color: $third;
}
