* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 1.25rem !important;
  }
}

@media only screen and (max-width: 1366px) {
  html {
    font-size: 0.875rem !important;
  }
}

body > #root > div {
  height: calc(100vh - 4.375rem);
}

main {
  width: 100%;
}

.pointer {
  cursor: pointer !important;
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none !important;
}

.buttonPrimary {
  padding: 4px 1.5rem;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: $primary;
  transition: 0.2s;
  &:hover {
    background-color: #224147;
  }
}

.buttonSecondary {
  padding: 4px 1.5rem;
  border-radius: 8px;
  border: none;
  color: $primary;
  background-color: white;
  transition: 0.2s;
  &:hover {
    background-color: #ddd;
  }
}

.animate2 {
  transition: 0s !important;
}
