@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Nerko+One&display=swap');

* {
    font-family: 'Balsamiq Sans', cursive;
    // font-family: 'Nerko One', cursive;
}
