// Colors
$primary: #34626c;
$secondary: #839b97;
$third: #cfd3ce;
$fourth: #c6b497;

$danger: #c24914;

// Colors Text
$dark-grey: #363636;
$light-grey: #d8d8d8;

// Colors General
$white: #fff;

// Family Font
$text: 'Balsamiq Sans', cursive;
$text2: 'Nerko One', cursive;
