.fs-36 {
    font-size: 2.25rem !important;
}

.fs-34 {
    font-size: 2.125rem !important;
}

.fs-30 {
    font-size: 1.875rem !important;
}

.fs-26 {
    font-size: 1.625rem !important;
}

.fs-24 {
    font-size: 1.5rem !important;
}

.fs-23 {
    font-size: 1.4375rem !important;
}

.fs-22 {
    font-size: 1.375rem !important;
}

.fs-21 {
    font-size: 1.3125rem !important;
}

.fs-20 {
    font-size: 1.25rem !important;
}

.fs-18 {
    font-size: 1.125rem !important;
}

.fs-17 {
    font-size: 1.0625rem !important;
}

.fs-16 {
    font-size: 1rem !important;
}

.fs-15 {
    font-size: 0.9375rem !important;
}

.fs-14 {
    font-size: 0.875rem !important;
}

.fs-13 {
    font-size: 0.8125rem !important;
}

.fs-12 {
    font-size: 0.75rem !important;
}

.fs-11 {
    font-size: 0.6875rem !important;
}

.fs-10 {
    font-size: 0.625rem !important;
}

.fs-8 {
    font-size: 0.5rem !important;
}

/* Font weight */

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.mat-elevation-z2 {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
